<!-- <ol class="breadcrumb">
  <li class="breadcrumb-item active"><%= link_to "Home", root_path %></li>
</ol> -->
<!-- <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#"><%= link_to "Home", root_path %></a></li>
  <li class="breadcrumb-item active"> <%= link_to 'Back to Results', venues_path %></li>
</ol> -->
