<div class="banner" style="background-image: url(<%= image_path "banner.jpg" %>)">
  <div class="container text-center">
    <h1>My Venues</h1>
    <p>Host parties & events</p>
    <h3>Book your venue today!</h3>
      <div class="container d-flex justify-content-center text-center mt-4">
      <div class="home-search">
        <form action="/venues" method="get">
          <input type="text" class="input form-control" placeholder="Enter location..." name="location">
            <!-- <select class="input custom-select mt-2" id="inputGroupSelect04">
              <option selected>Choose category...</option>
              <option value="1">Bar</option>
              <option value="2">Restaurant</option>
              <option value="3">Club</option>
              <option value="3">Pub</option>
              <option value="4">Café</option>
            </select> -->
          <input type="submit" class="btn-lg btn-info mt-2" value="Search">
        </form>
        </div>
      </div>
  </div>
</div>

<h2 class="text-center m-4">Top Venues</h2>
<div class="container">
  <div class="row">
    <% @venues.each do |venue| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to venue_path(venue) do %>
          <div class="card d-flex">
            <img class="card-image" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="height:100%;width:100%;">
            <div class="card-infos">
              <div>
                <h2><%= venue.name %></h2>
                <p><%= venue.category %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

