.footer {
  height: 80px;
  justify-content: space-between;
  background: black;
}


.footer-links {
  display: block;
  text-align: center;
  padding: 10px;

}

.footer-copyright {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.fab {
  padding: 5px;
  font-size: 20px;
}
