.home-search {
  // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

// .form-control {
//   padding: 20px;
//   border-radius: 5px;
// }

// .custom-select {
//   padding: 20px;
//   border-radius: 5px;
// }
.input {
  width: 600px;
  padding: 20px;
  border-radius: 5px;
}
