.home-search {
  width: 600px;
}

// .form-control {
//   padding: 20px;
//   border-radius: 5px;
// }

// .custom-select {
//   padding: 20px;
//   border-radius: 5px;
// }
.input {
  padding: 20px;
  border-radius: 5px;

}
